/* 
purple: #868CC5;
light purple: #D2D7FF;
tan: #CFC9C1;
light tan: #DFDFDF;
dark blue: #221F55;
blue: #2C409A;
lighter blue: #3853A4;

font-family: "americane", sans-serif;
font-weight: 300;
font-weight: 400;
font-weight: 700;
font-style: normal;

font-family: "larken", sans-serif;
font-weight: 100;
font-style: normal;

*/

/* HEADINGS/SUBHEADINGS */
h1 {
    font-size: 57px;
    margin: 0;
}

/* BODY */
body {
    font-family: "larken", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #221F55;
    background-color: #DFDFDF;
    margin: 15px 75px;
}

p {
    font-family: "americane", sans-serif;
    font-size: 18px;
}

/* NAV */
.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "americane", sans-serif;
    font-weight: 400;
}

.topnav {
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #221F55;
    text-align: center;
    padding-right: 100px;
    text-decoration: none;
    font-size: 20px;
}
  
.topnav a:hover {
    color: #3853A4;
  }

.topnav .icon {
    display: none;
}

@media screen and (max-width: 840px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 840px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* IMAGES */
  
.heroimg {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding-right: 10px;
    padding-top: 50px;
}

.marketing-hero, .uxdesign-hero, .cleanbook {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.dynamic-images, .app-images, .logo-images, .uxdesign-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.uxd-img {
  max-width: 300px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px
}

.dynamic-img, .logo-img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 5px
}

.app-img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 5px
}


/* PAGE INTRO */
.intro {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.hookdescript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;
    padding-left: 10px;
    padding-top: 50px;
}

h2.hook {
    font-size: 80px;
    margin: 0;
    line-height: 80px;
}

.descript {
    padding-top: 20px;
    font-size: 20px;
}


/* THE BEGINNING */
.title {
  font-size: 55px;
  margin: 0;
  padding-top: 105px;
  line-height: 60px;
  font-family: "larken", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p.bodycopy {
  padding-top: 20px;
}


/* THE PROBLEM */
.callouts {
  background-color: #868CC5;
  max-width: 900px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 25px 15px;
}

h2.callouts {
  text-align: center;
  font-size: 38px;
  line-height: 40px;
  margin: 0;
}


/* UX DESIGN */
figure.uxd-img {
  font-family: "americane", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* REBRANDING */


/* CITE / BIB PAGE */
.cite-name {
  font-size: 46px;
  padding-top: 30px;
  max-width: 600px;
}


/* FOOTER */
.footer {
  padding-top: 120px;
}