/* 
purple: #868CC5;
light purple: #D2D7FF;
tan: #CFC9C1;
light tan: #DFDFDF;
dark blue: #221F55;
blue: #2C409A;
lighter blue: #3853A4;

font-family: "americane", sans-serif;
font-weight: 300;
font-weight: 400;
font-weight: 700;
font-style: normal;

font-family: "larken", sans-serif;
font-weight: 100;
font-style: normal;

*/

/* HEADINGS/SUBHEADINGS */
h1 {
    font-size: 57px;
    margin: 0;
}

/* BODY */
body {
    font-family: "larken", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #221F55;
    background-color: #DFDFDF;
    margin: 0px 50px;
}

p {
    font-family: "americane", sans-serif;

}

/* NAV */
.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "americane", sans-serif;
    font-weight: 400;
}

.topnav {
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #221F55;
    text-align: center;
    padding-right: 100px;
    text-decoration: none;
    font-size: 20px;
}
  
.topnav a:hover {
    color: #3853A4;
  }

.topnav .icon {
    display: none;
}

@media screen and (max-width: 840px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 840px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* IMAGES */
  
.heroimg {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding-right: 10px;
    padding-top: 50px;
}

.cleanbook {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
}


/* PAGE INTRO */
.intro {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.hookdescript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;
    padding-left: 10px;
    padding-top: 50px;
}

h2.hook {
    font-size: 80px;
    margin: 0;
    line-height: 80px;
}

.descript {
    padding-top: 20px;
}


/* THE BEGINNING */
.callouts {
  font-size: 55px;
  margin: 0;
  padding-top: 155px;
  line-height: 60px;
  font-family: "larken", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p.the-idea {
  padding-top: 20px;
}


/* CITE / BIB PAGE */
.title {
  font-size: 46px;
  padding-top: 30px;
}

/* FOOTER */
.footer {
  padding-top: 120px;
}