/* 
purple: #868CC5;
light purple: #D2D7FF;
tan: #CFC9C1;
light tan: #DFDFDF;
dark blue: #221F55;
blue: #2C409A;
lighter blue: #3853A4;

font-family: "americane", sans-serif;
font-weight: 300;
font-weight: 400;
font-weight: 700;
font-style: normal;

font-family: "larken", sans-serif;
font-weight: 100;
font-weight: 300;
font-style: normal;

*/

body {
    font-family: "larken", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #221F55;
    background-color: #DFDFDF;
}

p {
    font-family: "americane", sans-serif;
    font-weight: 400;
    font-style: normal;
}